* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 100%;
  font-size: 16px;
  background-color: #ffffff;
  font-family: "Roboto Slab", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

header > h1 {
  text-align: center;
  color: white;
  font-size: 300%;
  padding: 5em 0em;
  font-weight: 400;
  letter-spacing: 5px;
  word-spacing: 2px;
}

header {
  padding: 1em 2em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(1.jpg);
  background-position: center;
  background-size: cover;
}

#main-navigation {
  margin: 0 auto;
  text-align: center;
}

#main-navigation a {
  font-size: 125%;
  color: white;
}

#main-navigation li {
  display: inline;
  padding-left: 0.3em;
}

#main-navigation li:after {
  color: white;
  content: " |";
}

#main-navigation li:last-child:after {
  content: "";
}

#main-navigation a:hover {
  color: #1abc9c;
}

#personal,
#work,
#projects,
#education {
  padding: 1em 1em;
  text-align: center;
}

#personal h1 {
  font-size: 200%;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1abc9c;
  background-color: #ecf0f1;
  padding: 0.5em 0em;
  border-radius: 40px;
}

#projects h1 {
  font-size: 200%;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1abc9c;
  background-color: #ecf0f1;
  padding: 0.5em 0em;
  border-radius: 40px;
}

#personal h2 {
  font-size: 150%;
  font-weight: 200;
}

#personal p {
  font-size: 125%;
  line-height: 1.25;
}

#work,
#education {
  background-color: #ecf0f1;
}

#work h1 {
  font-size: 200%;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1abc9c;
  background-color: #fff;
  padding: 0.5em 0em;
  border-radius: 40px;
}

#education h1 {
  font-size: 200%;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1abc9c;
  background-color: #fff;
  padding: 0.5em 0em;
  border-radius: 40px;
}

#social > img {
  border-radius: 150px;
  margin: 0 auto;
}

#social ul a {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

footer address {
  font-style: normal;
  padding: 1em 0em;
}

footer {
  text-align: center;
}

footer p {
  background-color: #1abc9c;
  color: white;
  margin: 0 auto;
  padding: 1em;
  font-weight: 500;
  line-height: 1.3;
}

#contact {
  padding: 1em 1em;
}

#contact h1 {
  text-align: center;
  font-size: 200%;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1abc9c;
  background-color: #ecf0f1;
  padding: 0.5em 0em;
  border-radius: 40px;
}

label {
  line-height: 1.5;
  padding: 0.5em 0em;
}

.btn-submit {
  text-transform: uppercase;
  cursor: pointer;
  padding: 2em;
  width: 100%;
  margin: 0.5em 0em 3em;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  resize: none;
  padding-bottom: 1em;
}

@media (min-width:820px) {
  #personal,
  #work,
  #education {
    float: left;
    width: 50%;
  }
  #projects {
    float: right;
    width: 50%;
  }
  #contact {
    clear: both;
  }
}